* {
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    background-color: dimgray;
    min-width: 20%;
    max-width: 80%;
	padding: 1em 1em 1em 1em;
}

body {
    background-color: black;
    font-family: arial, sans-serif;
    

}



img {
    float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
    margin-right: 20px;
    max-width:100%;
    height: auto;
}

mark {
	background-color: green;
}


header h1 {
    padding-top: 100px;
	text-align: center;
    max-width: 70%;
    min-width: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-family: Impact, fantasy;
    font-stretch: ultra-expanded;
}

nav {
    text-align: center;
    font-size: 20px;
	clear: both;
/*	margin: 1em 1em 1em 1em;*/


    
}

nav ul{
    margin: 0 auto;
    min-width: 10px;
    width: 80%;
    max-width: 1000px;
    
}

nav li {
    border: 5px solid lightgray;
/*
    border-width: 5px;
    border-style: solid;
    background-color: black;
*/
    float: left;
    background-color: black;


    padding: 5px;
    margin: auto;
    width: 120px; 
    list-style-type:none; 
    text-align: center  
}

nav a {
    color: white;
    text-decoration: none;
}

code {
    font-family:monaco, monospace;
}


main {

	margin-right:auto;
	margin-left:auto;
	background-color: gray;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding: 1em 1em 1em 1em;
    clear: both;
}



code {
    background-color: darkgray;

}

label {
    font-weight:bolder;
    font-size: 20px;

}

form {
    border-width: 5px;
    border-style: solid;
    padding: 2em;
    margin: 0.5em;
    border-radius: 2em;
}

input[type=text],[type=email],[type=time],[type=search],[type=date] {
    max-width: 100%;
    width: 140px;
    min-width: 10%;
    color: black;
    background-color:darkgray;
    border-radius: 0.5em;
    border-bottom-style: ridge;
    border-color:darkgray;
    border-width: 4px;
    padding: 3px;
    margin: 5px;
}

input[type=submit], input[type=reset] {
    background-color: darkgrey;
    border: 5px solid lightgray;
    width: 90px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1em;
}